<h3>Show Shop Page</h3>

<h3><%= @shop.name %></h3>

<p><%= @shop.shop_no %></p>
<%= render partial: 'data/data', locals: {data: (@shop.data).order(created_at: :desc)} %>
<%#= render 'data/data', data: (@shop.data).order(created_at: :desc) %>
<%= form_for (Datum.new), url: data_shop_path(@shop), method: :post, remote: :true do |f| %>
  <% if @shop_data.present? && @shop_data.errors.any? %>
    <div id='error_explanation'>
      <ul>
        <% @shop_data.errors.each do |attri, msg| %>
          <li>
            <%= attri %> <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :message %><br>
  <%= f.text_area :message %><br>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to "Edit shop Details", edit_shop_path(@shop) %>
<br/>
<%= link_to "Delete shop", shop_path(@shop), method: :delete, data: {confirm: "Are you sure?"} %>
